resources:
  - ../../../base/keycloak
  - secrets.yaml
  - realm.yaml

configMapGenerator:
  - name: keycloak-config
    literals:
      - KC_HOSTNAME=https://auth.${inoa_domain}
      - KC_HOSTNAME_DEBUG=true
      - KC_HOSTNAME_BACKCHANNEL_DYNAMIC=true
      - KC_PROXY_HEADERS=xforwarded
      - KC_LOG_CONSOLE_OUTPUT=default

images:
  - name: docker.io/library/postgres:<patched>
    newTag: 17.6@sha256:1da445c15f55eb86a84b2aaaf552465c48eb5cdbaa316c368a2480b1c0b39051
  - name: docker.io/kokuwaio/keycloak:<patched>
    newTag: 26.4.2-distroless@sha256:8c32b53f6584e6a02c2157b4937cd268158aff2ee87c9332e1fd2f81ed0fa0c6
