resources:
  - ../../../base/keycloak
  - secrets.yaml
  - realm.yaml

configMapGenerator:
  - name: keycloak-config
    literals:
      - KC_HOSTNAME=https://auth.${inoa_domain}
      - KC_HOSTNAME_DEBUG=true
      - KC_HOSTNAME_BACKCHANNEL_DYNAMIC=true
      - KC_PROXY_HEADERS=xforwarded
      - KC_LOG_CONSOLE_OUTPUT=default

images:
  - name: docker.io/library/postgres:<patched>
    newTag: 17.7@sha256:2b6239f32680c308921cf212902f881355c31ae92da0795b4fef29d8f0033021
  - name: docker.io/kokuwaio/keycloak:<patched>
    newTag: 26.4.5-distroless@sha256:d94a367766fac7c0e02e9e911adf727014d096d3df4ab3598c6cc3866bb236ef
