resources:
  - ../../../base/keycloak
  - secrets.yaml
  - realm.yaml

configMapGenerator:
  - name: keycloak-config
    literals:
      - KC_HOSTNAME=https://auth.${inoa_domain}
      - KC_HOSTNAME_DEBUG=true
      - KC_HOSTNAME_BACKCHANNEL_DYNAMIC=true
      - KC_PROXY_HEADERS=xforwarded
      - KC_LOG_CONSOLE_OUTPUT=default

images:
  - name: docker.io/library/postgres:<patched>
    newTag: 17.6@sha256:00bc86618629af00d2937fdc5a5d63db3ff8450acf52f0636ec813c7f4902929
  - name: docker.io/kokuwaio/keycloak:<patched>
    newTag: 26.4.2-distroless@sha256:5f32fdab310f72b391e7b1628faaed509701441f6ad70f9364ccd98dbfe712be
