resources:
  - ../../../base/keycloak
  - secrets.yaml
  - realm.yaml

configMapGenerator:
  - name: keycloak-config
    literals:
      - KC_HOSTNAME=https://auth.${inoa_domain}
      - KC_HOSTNAME_DEBUG=true
      - KC_HOSTNAME_BACKCHANNEL_DYNAMIC=true
      - KC_PROXY_HEADERS=xforwarded
      - KC_LOG_CONSOLE_OUTPUT=default

images:
  - name: docker.io/library/postgres:<patched>
    newTag: 17.7@sha256:1c2b6ae7bd9b9a334a956ea3b6fb9681351991e68fc1d6e8d3c6aa94fc43254a
  - name: docker.io/kokuwaio/keycloak:<patched>
    newTag: 26.4.7-distroless@sha256:f8ee1f6198d9e9683ea601570c4a58b55627044b5a6840d3cb4d68f5b309e496
