resources:
  - ../../../base/keycloak
  - secrets.yaml
  - realm.yaml

configMapGenerator:
  - name: keycloak-config
    literals:
      - KC_HOSTNAME=https://auth.${inoa_domain}
      - KC_HOSTNAME_DEBUG=true
      - KC_HOSTNAME_BACKCHANNEL_DYNAMIC=true
      - KC_PROXY_HEADERS=xforwarded
      - KC_LOG_CONSOLE_OUTPUT=default

images:
  - name: docker.io/library/postgres:<patched>
    newTag: 17.7@sha256:7352e0c4d62bbac8aa69d95e40220a60967c4a19f9c4f65b4d118175f7ce9e3b
  - name: docker.io/kokuwaio/keycloak:<patched>
    newTag: 26.4.7-distroless@sha256:2b041da39cfca54879f84ccfbdea8b7f6797a72221c9d7f59a324094f00fca5b
