resources:
  - ../../../base/keycloak
  - secrets.yaml
  - realm.yaml

configMapGenerator:
  - name: keycloak-config
    literals:
      - KC_HOSTNAME=https://auth.${inoa_domain}
      - KC_HOSTNAME_DEBUG=true
      - KC_HOSTNAME_BACKCHANNEL_DYNAMIC=true
      - KC_PROXY_HEADERS=xforwarded
      - KC_LOG_CONSOLE_OUTPUT=default

images:
  - name: docker.io/library/postgres:<patched>
    newTag: 17.7@sha256:46fd7ee75065e6ddd1949d332289c589269c92701d572e7bc373c15c6c153267
  - name: docker.io/kokuwaio/keycloak:<patched>
    newTag: 26.4.5-distroless@sha256:f887093a9827ba423c16be18f980ef4df5513ac7cbba5e637ef0fed91870bbae
