.installation-monitor-container {
    height: calc(100vh - 92px);
    display: flex;
}

.card-installation-monitor {
    flex: 1 1;
    height: 100%;
    padding: 15px;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
}

.installation-monitor-card-content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: 100%;
}