<div class="installation-monitor-container" tabindex="0">

    <mat-card class="card-installation-monitor">
  
      <mat-card-header>
        <div mat-card-avatar style="background-image: url('assets/inoa/fleet-color.png'); background-size: cover;"></div>
        <mat-card-title>Installation Monitor</mat-card-title>
        <mat-card-subtitle>Monitor your installations with these 57 easy steps.</mat-card-subtitle>
      </mat-card-header>
  
      <mat-card-content class = "installation-monitor-card-content">
        
      </mat-card-content>

    </mat-card>

</div>
