extends: default

ignore:
  - inoa-test/target
  - inoa-fleet/target
  - inoa-measurement/target
  - inoa-groundcontrol/target

## see https://yamllint.readthedocs.io/en/stable/rules.html
rules:

  # no need for document start
  document-start: disable

  # line length is not important
  line-length: disable

  # force double quotes everywhere
  quoted-strings:
    quote-type: double
    required: only-when-needed
    ignore: |
      inoa-test/target/k3s.yaml
      inoa-test/target/k3s/templates/inoa/measurement/kustomization.yaml
      inoa-test/target/k3s/templates/inoa/measurement/deployment.yaml
      inoa-test/target/k3s/templates/inoa/fleet/deployment.yaml
      inoa-test/target/k3s/templates/swaggerui/files/inoa-measurement-api.yaml
      inoa-test/target/k3s/templates/swaggerui/files/inoa-fleet-api.yaml
      inoa-fleet/src/main/resources/openapi/inoa-fleet-api.yaml
      inoa-fleet/src/main/resources/openapi/hawkbit-management-api.yaml
      inoa-measurement/src/main/resources/openapi/inoa-measurement-api.yaml
      inoa-fleet/src/test/resources/application-test.yaml

  # allow everything on keys
  truthy:
    check-keys: false
