<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::section})}">
	<head>
		<title>Gateways</title>
	</head>
	<body>
		<section id="gatewayList">
			<article>
				<form th:action="@{~/gateway}">
					<label for="search">Search:</label>
					<input type="search" name="search" maxlength="100" th:value="${search}" />
					<button>Search</button>
				</form>
			</article>
			<table th:unless="${entries.empty}">
				<thead>
					<tr>
						<th>gateway id</th>
						<th th:class="${sort.is('name')} ? (${sort.asc} ? 'sortAsc' : 'sortDesc')">
							<a th:href="@{?(sort=${sort.get('name')},search=${search})}">name</a>
						</th>
						<th th:class="${sort.is('enabled')} ? (${sort.asc} ? 'sortAsc' : 'sortDesc')">
							<a th:href="@{?(sort=${sort.get('enabled')},search=${search})}">enabled</a>
						</th>
						<th th:class="${sort.is('created')} ? (${sort.asc} ? 'sortAsc' : 'sortDesc')">
							<a th:href="@{?(sort=${sort.get('created')},search=${search})}">created</a>
						</th>
						<th th:class="${sort.is('updated')} ? (${sort.asc} ? 'sortAsc' : 'sortDesc')">
							<a th:href="@{?(sort=${sort.get('updated')},search=${search})}">updated</a>
						</th>
						<th>links</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="gateway : ${entries}">
						<td th:onclick="'window.location=\''+ @{~/gateway/{gatewayId}(gatewayId=${gateway.gatewayId})} + '\';'" th:text="${gateway.gatewayId}" class="center" />
						<td th:onclick="'window.location=\''+ @{~/gateway/{gatewayId}(gatewayId=${gateway.gatewayId})} + '\';'" th:text="${gateway.name}" class="center" />
						<td th:onclick="'window.location=\''+ @{~/gateway/{gatewayId}(gatewayId=${gateway.gatewayId})} + '\';'" th:text="${gateway.enabled}" th:class="'center ' + ${gateway.enabled ? 'enabled' : 'disabled'}" />
						<td th:onclick="'window.location=\''+ @{~/gateway/{gatewayId}(gatewayId=${gateway.gatewayId})} + '\';'" th:text="${gateway.created}" class="center" />
						<td th:onclick="'window.location=\''+ @{~/gateway/{gatewayId}(gatewayId=${gateway.gatewayId})} + '\';'" th:text="${gateway.updated}" class="center" />
						<td>
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td class="paginator" colspan="6">
							<a th:if="${previousPage}" th:href="@{~/gateway(page=${pageNumber-1},search=${search},sort=${sort.sort})}">&nbsp;&#x22B2;&nbsp;</a>
							<span th:text="${pageNumber} + '/' + ${pageCount}" />
							<a th:if="${nextPage}" th:href="@{~/gateway(page=${pageNumber+1},search=${search},sort=${sort.sort})}">&nbsp;&#x22B3;&nbsp;</a>
						</td>
					</tr>
				</tfoot>
			</table>
			<article class="error" th:if="${entries.empty}">
				<span>No gateways found.</span>
			</article>
		</section>
	</body>
</html>
