<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::section})}">
	<head>
		<title th:text="${gateway == null} ? 'Gateway not found' : 'Gateway ' + ${gateway.name}"></title>
	</head>
	<body>
		<section id="gatewayDetail">
			<div th:if="${gateway != null}">
				<article>
					<dl>
						<dt>Tenant:</dt>
						<dd th:text="INOA" />
						<dt>Name:</dt>
						<dd th:text="${gateway.name}" />
						<dt>Enabled:</dt>
						<dd>
							<form method="post" th:action="@{~/gateway/{gatewayId}(gatewayId=${gateway.gatewayId})}" >
								<input type="hidden" name="enabled" th:value="${!gateway.enabled}">
								<button th:class="'a ' + ${gateway.enabled ? 'enabled' : 'disabled'}" th:text="${gateway.enabled}"></button>
							</form>
						</dd>
						<dt>Created:</dt>
						<dd th:text="${gateway.created}" />
						<dt>Updated:</dt>
						<dd th:text="${gateway.updated}" />
					</dl>
				</article>
				<table th:unless="${gateway.properties.empty}">
					<caption>properties</caption>
					<thead>
						<tr>
							<th>name</th>
							<th>value</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="entry : ${gateway.properties.entrySet()}">
							<td th:text="${entry.key}" />
							<td th:text="${entry.value}" />
						</tr>
					</tbody>
				</table>
			</div>
			<div th:if="${gateway == null}">
				<article class="error">
					<span>Gateway not found.</span>
				</article>
			</div>
		</section>
	</body>
</html>
