<!DOCTYPE html>
<html th:fragment="layout (title, content)" xmlns:th="http://www.thymeleaf.org" lang="en">
	<head>
		<title th:replace="${title}">Metric UI</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="icon" href="/static/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="/static/dark.css" />
	</head>
	<body>
		<header>
			<div id="links">
				<a href="/gateway">Gateways</a>
			</div>
			<div id="token" th:if="${security} != null">
				<span class="label">Admin:</span>
				<span th:text="${controller.isAdmin()}"></span>
				<span class="label">Token expires:</span>
				<span th:text="${#dates.format(security.attributes.exp, 'HH:mm:ss')}"></span>
			</div>
		</header>
<!--
		<div th:if="${message} != null">
			<section>
				<article class="success">
					<span th:text="${message}"></span>
				</article>
			</section>
		</div>
		<div th:if="${error} != null">
			<section>
				<article class="error">
					<span th:text="${error}"></span>
				</article>
			</section>
		</div>
-->
		<div th:replace="${content}">
			<p>Layout content</p>
		</div>
		<footer style="display: none">
<!--
			<span th:text="${#vars}"></span>
-->
		</footer>
	</body>
</html>
