<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/console-appender.xml" />

	<logger name="org.eclipse.hawkbit.eventbus.DeadEventListener" level="WARN" />
	<Logger name="org.springframework.boot.actuate.audit.listener.AuditListener" level="WARN" />
	<Logger name="org.hibernate.validator.internal.util.Version" level="WARN" />

	<!-- Security Log with hints on potential attacks -->
	<logger name="server-security" level="INFO" />
	
	<!-- Suppressing "More than one Servlet Mapping defined. WebSocket may not work" 
	error due to the way VaadinServletConfiguration configures the endpoints mapping ("/UI" and "/UI/*"). 
	At the end only the first "/UI" is taken for websocket communication.  -->
	<logger name="org.atmosphere.util.IOUtils" level="OFF" />

	<Root level="INFO">
		<appender-ref ref="CONSOLE" />
	</Root>

</configuration>