.satellite-view-3d-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    z-index: 10000;
}

.renderer-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    z-index: 10000;
}

.satellite-count {
    position: absolute;
    height: 0px;
    top: 50%;
    line-height: 0;
    left: 15%;
    color: white;
    font-size: 288px;
    z-index: 1000;
}
