<mat-toolbar
    color="primary"
    class="mat-elevation-z2">
    <img
        src="assets/inoa/satellite-color.png"
        alt="INOA Satellite"
        class="toolbar-icon" />
    <span>Config Editor - {{ selectedGroup.name }}</span>
</mat-toolbar>

<div class="config-dialog">
    <div class="config-menu">
        <button
            mat-button
            *ngFor="let group of configGroups"
            (click)="selectGroup(group)"
            [class.active]="group === selectedGroup">
            {{ group.name }}
        </button>
    </div>

    <div class="config-content">
        <h3>{{ selectedGroup.name }} - Configuration</h3>

        <div class="input-stack">
            <ng-container *ngFor="let item of selectedGroup.items">
                <mat-form-field
                    appearance="outline"
                    *ngIf="item.type === 'input'">
                    <mat-label>{{ item.label }}</mat-label>
                    <input
                        matInput
                        [(ngModel)]="data[item.key]"
                        [type]="item.inputType || 'text'" />
                </mat-form-field>

                <mat-checkbox
                    *ngIf="item.type === 'toggle'"
                    [(ngModel)]="data[item.key]">
                    {{ item.label }}
                </mat-checkbox>
            </ng-container>
        </div>
    </div>
</div>

<mat-dialog-actions align="end">
    <button
        mat-raised-button
        color="primary"
        (click)="close()">
        Cancel
    </button>

    <button
        mat-raised-button
        color="warn"
        [mat-dialog-close]="data"
        (click)="save()"
        cdkFocusInitial>
        Save
    </button>
</mat-dialog-actions>
