<div class="ems-dashboard-container" tabindex="0">
	<mat-card class="card-ems-dashboard">
		<mat-card-header>
			<div mat-card-avatar style="background-image: url('assets/inoa/inoa-color.png'); background-size: cover;"></div>
			<mat-card-title>EMS-Dashboard</mat-card-title>
			<mat-card-subtitle>Heatmap & More.</mat-card-subtitle>
		</mat-card-header>

		<mat-card-content class="ems-dashboard-card-content">
			<iframe [src]="getGrafanaDashboardUrl()" class="grafana-dashboard-container"></iframe>
		</mat-card-content>
	</mat-card>
</div>
