<h1 mat-dialog-title>Configure a Thing available via {{data.gateway.gateway_id}}</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit(model)" *ngIf="fields">

  <div mat-dialog-content>

    <p>Choose type of thing to configure:</p>

    <mat-form-field>

      <mat-label>Type of the thing to connect.</mat-label>

      <mat-select (selectionChange)="loadThingType($event.value)" [(value)]="selectedThingType">

        <mat-option *ngFor="let thingType of data.thingTypes" [value]="thingType">
          <img style="vertical-align: middle;" width="24" src="{{getThingImage(thingType)}}" alt="{{thingType.name}}"/>
          <span style="padding-left: 10pt">{{thingType.name}}</span>
        </mat-option>
        
      </mat-select>

    </mat-form-field>

    <img width="60" [src]="category.image" alt="category image"/>

    <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>

  </div>

  <div mat-dialog-actions>
    <button mat-raised-button color = "primary" (click)="onCancelClick()">Cancel</button>
    <button mat-raised-button color = "primary" (click)="onCreateClick()" [mat-dialog-close]="data.thing" [disabled]="!form.valid">Create</button>
  </div>

</form>