@use '@angular/material' as mat;

$inoa-primary-indigo: mat.define-palette(mat.$indigo-palette);
$inoa-accent-indigo: mat.define-palette(mat.$indigo-palette, A200, A100, A400);
$inoa-warn-indigo: mat.define-palette(mat.$red-palette);

// Be sure that you only ever include this mixin once!
@include mat.core();

$mat-density: 0;

$inoa-theme-indigo-light: mat.define-light-theme(
  (
    color:
    (
      primary: $inoa-primary-indigo,
      accent: $inoa-accent-indigo,
      warn: $inoa-warn-indigo,
    )
  )
);

$inoa-theme-indigo-dark: mat.define-dark-theme(
  (
    color:
    (
      primary: $inoa-primary-indigo,
      accent: $inoa-accent-indigo,
      warn: $inoa-warn-indigo,
    )
  )
);

@include mat.all-component-themes($inoa-theme-indigo-light);

.dark-theme {
	@include mat.all-component-colors($inoa-theme-indigo-dark);
}
