/* You can add global styles to this file, and also import other style files */

// global variables (can be used in all other css / sass files)
:root
  --gateway-detail-card-container-size: calc(100vh - 295px)
  --gateway-detail-card-size: calc(var(--gateway-detail-card-container-size) - 5px)

html, body
  height: 100%

body
  margin: 0
  font-family: Roboto, "Helvetica Neue", sans-serif

.mat-button-toggle-group .mat-pseudo-checkbox
  display: none

.mdc-tooltip
  background-color: black
  color: white
  padding: 1px 1px
  border-radius: 5px
  box-shadow: 0 10px 10px rgba(0,0,0,0.5)
  .mdc-tooltip__surface
    max-width: 500px
    padding: 10px 15px
    background-color: #536DFE

.satellite-background
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 30%), url('/assets/inoa/satellite-photo.png')
  background-size: contain
  background-position: right
  background-repeat: no-repeat
