.id-card-content-gateway-table {
	padding-top: 15px;
	overflow: auto;
}

.mat-card-content-gateway-detail {
	padding-top: 15px;
	overflow: auto;
	display: flex;
	flex-direction: column;
}

.mat-card-content-console {
	padding-top: 15px;
	overflow: hidden;
	height: 100%;
}

.mat-card-content-gateway-table {
	max-height: calc(100% - 150px);
	overflow: auto;
}

.monaco-editor {
	height: 100%;
}

.mat-card-content-gateway-things {
	padding-top: 15px;
	overflow: auto;
	display: flex;
}

.mat-card-content-gateway-actions {
	padding: 0 0;
	margin: 0 0;
}

.mat-mdc-tab {
	background: #f0f0f0;
}

th {
	text-align: center;
}

.mat-column-select {
	width: 40px;
	max-width: 40px;
	margin: 0 0;
	padding: 0 0;
}

.mat-column-gateway_id {
	width: 180px;
	text-align: left;
}

.mat-column-thing_config_id {
	text-align: left;
	flex: 1;
}

.mat-column-category {
	width: 150px;
	text-align: left;
}

.mat-column-enabled {
	width: 100px;
	text-align: center;
}

.satellite-things-table {
	.mat-column-actions {
		/* 48px * icon count */
		width: 48px;
		min-width: 48px;
		max-width: 48px;
		text-align: center;
		padding: 0 0;
		margin: 0 0;
	}
}

.gateway-table {
	.mat-column-actions {
		/* 48px * icon count */
		min-width: 192px;
		max-width: 192px;
		width: 192px;
		text-align: center;
		padding: 0 0;
		margin: 0 0;
	}
}

.satellite-things-table {
	.mat-column-actions {
		width: 100px;
		text-align: right;
	}
}

.mat-column-created {
	width: 100px;
	text-align: right;
}

.mat-column-updated {
	width: 100px;
	text-align: right;
}

.mat-column-id {
	width: 300px;
	text-align: left;
}

.mat-column-name {
	flex: 1;
	text-align: left;
}

.mat-column-thing_type_id {
	width: 200px;
	text-align: left;
}

.mat-column-status {
	width: 100px;
	text-align: center;
}

.mat-column-config {
	width: 50px;
	text-align: left;
}

.mat-column-type {
	width: 200px;
	text-align: left;
}

.gateway-detail-action-button {
	margin-top: 10px;
	margin-left: 10px;
}

.console-action-button {
	margin-top: 10px;
	margin-left: 10px;
}

.gateway-table {
	width: 100%;
}

.gateway-table-container {
	display: flex;
	flex-direction: column;
	height: calc(100vh - 140px);
}

.gateway-status-container {
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
}

.status-icon-scaled {
	scale: 1.1;
}

.gateway-table-sub-container {
	position: relative;
	flex: 1;
	overflow: auto;
}

.gateway-detail-sub-sub-container {
	position: relative;
	flex: 1;
	overflow: auto;
	display: flex;
	flex-direction: row;
	gap: 15px;
}

.gateway-table-sub-container-mini {
	position: relative;
	flex: 1;
	overflow: auto;
	margin-top: 15px;
}

.gateway-table-paginator {
	position: absolute;
	margin-top: 15px;
	bottom: 15px;
	right: 15px;
}

.gateway-table-auto-refresh-select {
	position: absolute;
	bottom: 2px;
	left: 15px;
}

.gateway-table-bottom-bar {
	width: 850px;
	position: absolute;
	margin-top: 15px;
	bottom: 0px;
	right: 15px;
	display: flex;
	gap: 15px;
	flex-direction: row;
}

.gateway-detail-container {
	height: calc(100vh - 140px);
	display: flex;
	flex-direction: row;
	gap: 15px;
}

.gateway-console-container {
	height: calc(100vh - 140px);
	display: flex;
	flex-direction: row;
	gap: 15px;
}

.gateway-detail-sub-container {
	flex: 1;
	height: 98%;
	display: flex;
	flex-direction: column;
}

.card-actions {
	margin-top: auto;
	margin-bottom: 0;
}

.gateway-table-tab-group {
	height: 100%;
	padding: 0px 15px;
}

.things-table {
	width: 100%;
}

.element-row {
	cursor: pointer;
}

.element-row:hover {
	background: #f5f5f5;
}

.element-row-selected {
	background: #e5e5e5;
}

.element-row-selected:hover {
	background: #d5d5d5;
}

.card-gateway-table {
	padding: 15px;
	height: 98%;
	overflow: hidden;
}

.cardConsole {
	flex: 1;
	padding: 15px;
	height: 98%;
	overflow: hidden;
}

.card-gateway-things {
	flex: 1;
	padding: 15px 15px;
	position: relative;
}

.card-gateway-mini-table {
	width: 260px;
	height: 98%;
	padding: 15px 15px;
	position: relative;
}

.card-gateway-actions {
	display: flex;
	padding: 15px;
	margin-top: 15px;
}

.custom-height-select {
	margin-left: 5px;

	.mat-mdc-form-field-flex {
		max-height: 40px;
		margin-bottom: 0;
		padding-bottom: 0;
		width: 50px;
	}

	.mat-mdc-text-field-wrapper {
		padding-top: 0;
		padding-bottom: 0;
	}

	.mat-mdc-form-field-infix {
		padding-top: 7px;
		padding-bottom: 5px;
	}
  
	.mat-mdc-select {
		padding-top: 0;
		padding-bottom: 0;
	}
}

.thing-config-element-detail {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.config-code {
    white-space: pre-wrap;
    word-wrap: break-word;
    max-width: 100%;
}

.thing-config-detail-row {
    height: 0;
}

.thing-config-row:hover {
    background: whitesmoke;
}

.satellite-things-table {
    width: 100%;
}

.mat-column-expanded_detail {
    border: none;
}

.mat-column-match {
	width: 100px;
	text-align: center;
}

.mat-column-sync {
	width: 85px;
	max-width: 85px;
	text-align: center;
}