<div class="setup-configurator-container" tabindex="0">

    <mat-card class="card-setup-configurator">
  
      <mat-card-header>
        <div mat-card-avatar style="background-image: url('assets/inoa/groundcontrol-color.png'); background-size: cover;"></div>
        <mat-card-title>Setup Configurator</mat-card-title>
        <mat-card-subtitle>Predefine your own setup configurations.</mat-card-subtitle>
      </mat-card-header>
  
      <mat-card-content class = "setup-configurator-card-content">
        
      </mat-card-content>

    </mat-card>

</div>
