.session-spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.session-icon-container {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-25px, -25px);
}

.session-spinner-container {
	width: 55px;
	height: 55px;
	align-self: center;
	position: relative;
}

.whoamai-box-container {
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	z-index: 2000;
}

.whoami-data-container {
	padding: 10px;
}

.whoami-data-name {
	margin: 0;
	font-weight: 500;
	height: 20px
}

.whoami-data-email {
	margin: 0;
	font-size: 12px;
}

.gravatar-image {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}