<!-- ngIf to wait for the whoami data to come in -->
<div *ngIf = "whoami$ | async as whoami" class="whoamai-box-container">
    <!-- a nice little icon -->
    <div class="session-spinner-container">
        <!-- gravatar icon -->
        <div class="session-icon-container">
			<a href="https://gravatar.com" target="_blank" matTooltip="View profile on Gravatar">
				<img class="gravatar-image" [src]="getGravatarUrl(whoami.email)" alt="Gravatar image for {{ whoami.email }}">
			</a>
        </div>
	</div>

    <!-- whoami data -->
    <div class="whoami-data-container">
        <p class="whoami-data-name">{{ whoami.firstname }} {{ whoami.lastname }}</p>
        <p class="whoami-data-email">{{ whoami.email }}</p>
    </div>

	<!-- menu button that only shows a single logout button -->
	<div style="align-self: center">
		<button mat-icon-button [matMenuTriggerFor]="menuLogout" data-testid="whoami-menu-button">
			<mat-icon>more_vert</mat-icon>
		</button>
	</div>

	<!-- top right corner menu -->
	<mat-menu #menuLogout="matMenu" xPosition="before">
		<!-- link to user manual button -->
		<button mat-menu-item value="logout" (click)="onUserManualButtonPressed()" data-testid="logout-button"><mat-icon>menu_book</mat-icon>Docs</button>

		<!-- temp expert mode button -->
		<button mat-menu-item value="expert" (click)="toggleExpertMode()" data-testid="expert-button">
			<mat-icon>{{ intercomService.expertMode ? "lock_open" : "lock" }}</mat-icon
			>{{ intercomService.expertMode ? "Disable Expert Mode" : "Enable Expert Mode" }}
		</button>

		<!-- logout button -->
		<button mat-menu-item value="logout" (click)="onLogoutButtonPressed()"><mat-icon>logout</mat-icon>Logout</button>
	</mat-menu>
</div>
