<div class="gateway-table-container">
    <mat-card class="card-gateway-table card-gateway-shadow">
        <!-- header -->
        <mat-card-header>
            <div
                *ngIf="!intercomService.selectedGateway"
                mat-card-avatar
                style="background-image: url('assets/inoa/satellite-color.png'); background-size: cover"></div>
            <mat-card-title *ngIf="!intercomService.selectedGateway">Satellite Management</mat-card-title>
            <mat-card-subtitle *ngIf="!intercomService.selectedGateway">Check and maintain your INOA Satellites.</mat-card-subtitle>

            <div class="gateway-table-search-container">
                <mat-form-field
                    class="gateway-table-search-form-field"
                    appearance="outline">
                    <mat-icon matPrefix>search</mat-icon>
                    <mat-label>Search Satellites</mat-label>
                    <input
                        class="gateway-table-search-input"
                        #searchInput
                        matInput
                        (keyup)="applyFilter(searchInput.value)" />

                    <!-- clear search button -->
                    <button
                        *ngIf="searchInput.value"
                        matSuffix
                        mat-icon-button
                        (click)="searchInput.value = ''; applyFilter(searchInput.value)">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </div>
        </mat-card-header>

        <mat-card-content class="mat-card-content-gateway-table">
            <div class="gateway-table-sub-container">
                <!-- satellite table -->
                <table
                    mat-table
                    [dataSource]="dataSourceGateways"
                    matSort
                    #sortRef="matSort"
                    #tableRef
                    class="gateway-table">
                    <!-- Selection Column -->
                    <ng-container matColumnDef="select">
                        <th
                            mat-header-cell
                            *matHeaderCellDef>
                            <mat-checkbox
                                (change)="$event ? toggleAllRows() : null"
                                [checked]="selectionGateways.hasValue() && isAllSelected()"
                                [indeterminate]="selectionGateways.hasValue() && !isAllSelected()">
                            </mat-checkbox>
                        </th>
                        <td
                            mat-cell
                            *matCellDef="let row">
                            <mat-checkbox
                                (click)="$event.stopPropagation()"
                                (change)="$event ? selectionGateways.toggle(row) : null"
                                [checked]="selectionGateways.isSelected(row)">
                            </mat-checkbox>
                        </td>
                    </ng-container>

                    <!-- Gateway ID Column -->
                    <ng-container matColumnDef="gateway_id">
                        <th
                            mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header>
                            Gateway ID
                        </th>
                        <td
                            mat-cell
                            *matCellDef="let element">
                            {{ element.gateway_id }}
                        </td>
                    </ng-container>

                    <!-- Gateway Name Column -->
                    <ng-container matColumnDef="name">
                        <th
                            mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header>
                            Name
                        </th>
                        <td
                            mat-cell
                            *matCellDef="let element">
                            {{ element.name ? element.name : "-" }}
                        </td>
                    </ng-container>

                    <!-- Gateway ID + Name Combo Column -->
                    <ng-container matColumnDef="id_name_combo">
                        <th
                            mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header>
                            Satellite
                        </th>
                        <td
                            mat-cell
                            *matCellDef="let element">
                            <div class="id-name-combo-container">
                                <span class="combo-element-name">{{ element.name }}</span>
                                <span class="combo-element-id">({{ element.gateway_id }})</span>
                                <button
                                    class="combo-element-close-button"
                                    *ngIf="element.gateway_id === intercomService.selectedGateway!.gateway_id"
                                    mat-mini-fab
                                    (click)="deselectGateway()">
                                    <mat-icon>close</mat-icon>
                                </button>
                            </div>
                        </td>
                    </ng-container>

                    <!-- Tenant Column -->
                    <ng-container matColumnDef="tenant">
                        <th
                            mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header>
                            Tenant
                        </th>
                        <td
                            mat-cell
                            *matCellDef="let element">
                            {{ getTenantNameById(element.tenant_id) }}
                        </td>
                    </ng-container>

                    <!-- Filler Column, just here to adjust the layout -->
                    <ng-container matColumnDef="filler">
                        <th
                            mat-header-cell
                            *matHeaderCellDef></th>
                        <td
                            mat-cell
                            *matCellDef="let element"></td>
                    </ng-container>

                    <!-- Enabled Column -->
                    <ng-container matColumnDef="enabled">
                        <th
                            mat-header-cell
                            *matHeaderCellDef>
                            Enabled
                        </th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="mat-cell-center">
                            <button
                                mat-icon-button
                                [matTooltip]="element.enabled ? 'Satellite is enabled' : 'Satellite is disabled'"
                                matTooltipPosition="above"
                                (click)="toggleEnabledClick(element, $event, !element.enabled)">
                                <mat-icon
                                    *ngIf="element.enabled"
                                    fontIcon="toggle_on"></mat-icon>
                                <mat-icon
                                    *ngIf="!element.enabled"
                                    fontIcon="toggle_off"></mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <!-- Connection Status Column -->
                    <ng-container matColumnDef="status">
                        <th
                            mat-header-cell
                            *matHeaderCellDef>
                            Connected
                        </th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                            class="mat-cell-center">
                            <mat-icon
                                *ngIf="element.status.mqtt.connected"
                                fontIcon="link"
                                style="color: green"></mat-icon>
                            <mat-icon
                                *ngIf="!element.status.mqtt.connected"
                                fontIcon="link_off"
                                color="warn"></mat-icon>
                        </td>
                    </ng-container>

                    <!-- Actions Column -->
                    <ng-container matColumnDef="actions">
                        <th
                            mat-header-cell
                            *matHeaderCellDef
                            style="text-align: center"></th>
                        <td
                            mat-cell
                            *matCellDef="let element; let rowIndex = index"
                            style="width: 50px">
                            <div style="display: flex">
                                <button
                                    mat-icon-button
                                    matTooltip="Rename satellite"
                                    matTooltipPosition="above"
                                    (click)="renameSatelliteClick(element, $event)">
                                    <mat-icon>edit</mat-icon>
                                </button>

                                <button
                                    *ngIf="intercomService.expertMode"
                                    mat-icon-button
                                    matTooltip="Go to satellite rpc terminal"
                                    matTooltipPosition="above"
                                    (click)="openConsoleClick(rowIndex, $event)"
                                    [disabled]="!element.enabled || !element.status.mqtt.connected">
                                    <mat-icon>terminal</mat-icon>
                                </button>

                                <button
                                    mat-icon-button
                                    matTooltip="Wink satellite LED"
                                    matTooltipPosition="above"
                                    (click)="winkClick(element, $event)"
                                    [disabled]="!element.enabled || !element.status.mqtt.connected">
                                    <mat-icon>remove_red_eye</mat-icon>
                                </button>

                                <button
                                    mat-icon-button
                                    matTooltip="Restart the satellite"
                                    matTooltipPosition="above"
                                    (click)="restartClick(element, $event)"
                                    [disabled]="!element.enabled || !element.status.mqtt.connected">
                                    <mat-icon>restart_alt</mat-icon>
                                </button>
                            </div>
                        </td>
                    </ng-container>

                    <tr
                        mat-header-row
                        *matHeaderRowDef="intercomService.selectedGateway ? displayedColumnsGatewayTableMini : displayedColumnsGatewayTable; sticky: true"></tr>
                    <tr
                        mat-row
                        *matRowDef="let dataRow; columns: intercomService.selectedGateway ? displayedColumnsGatewayTableMini : displayedColumnsGatewayTable"
                        (click)="gatewayRowClicked(dataRow)"
                        class="element-row"
                        [ngClass]="{ 'element-row-selected': isRowSelected(dataRow) }"></tr>
                </table>
            </div>

            <div class="gateway-table-bottom-bar">
                <!-- auto refresh select -->
                <div
                    class="gateway-table-auto-refresh-select"
                    *ngIf="!intercomService.selectedGateway">
                    Auto refresh interval:
                    <mat-form-field
                        class="custom-height-select"
                        appearance="outline">
                        <mat-select
                            [(ngModel)]="autoRefreshInterval"
                            (ngModelChange)="onIntervalChange()">
                            <mat-option
                                *ngFor="let interval of autoRefreshIntervals"
                                [value]="interval">
                                {{ interval }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <!-- page indicator Bottom -->
                <mat-paginator
                    #paginatorRef
                    [length]="20"
                    [pageSizeOptions]="intercomService.pageSizes"
                    [pageSize]="intercomService.pageSize"
                    [pageIndex]="intercomService.pageNumber"
                    [showFirstLastButtons]="!intercomService.selectedGateway"
                    [hidePageSize]="intercomService.selectedGateway"
                    class="gateway-table-paginator">
                </mat-paginator>
            </div>
        </mat-card-content>
    </mat-card>
</div>
