.gateway-table-container {
	width: 100%;
	height: 100%;
	margin: 0px 15px;
}

.card-gateway-table {
	padding: 15px;
	width: 100%;
	height: calc(100% - 5px);
	overflow: hidden;
}

.gateway-table-search-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.gateway-table-search-form-field {
	width: 100%;
	max-width: 400px;
	margin: 0 0;
	padding: 0 0;
}

.gateway-table-search-input {
	height: 28px !important;
}

.mat-card-content-gateway-table {
	max-height: calc(100% - 150px);
	overflow: auto;
}

.gateway-table-sub-container {
	position: relative;
	flex: 1;
	overflow: auto;
}

.gateway-table {
	width: 100%;
	
	.mat-column-actions {
		width: auto;
		text-align: center;
		padding: 0 0;
		margin: 0 0;
	}
}

.id-name-combo-container {
	display: flex;
	flex-direction: column;
	position: relative;
}

.combo-element-close-button {
	position: absolute;
	right: -5px;
	top: 50%;
	transform: translateY(-50%);
}

.combo-element-name {
	font-size: 14px;
}

.combo-element-id {
	color: #777777;
	font-size: 13px;
}

.element-row {
	cursor: pointer;
}

.element-row:hover {
	background: #f5f5f5;
}

.element-row-selected {
	background: #e5e5e5;
}

.element-row-selected:hover {
	background: #d5d5d5;
}

.custom-height-select {
	margin-left: 5px;

	.mat-mdc-form-field-flex {
		max-height: 40px;
		margin-bottom: 0;
		padding-bottom: 0;
		width: 50px;
	}

	.mat-mdc-text-field-wrapper {
		padding-top: 0;
		padding-bottom: 0;
	}

	.mat-mdc-form-field-infix {
		padding-top: 7px;
		padding-bottom: 5px;
	}
  
	.mat-mdc-select {
		padding-top: 0;
		padding-bottom: 0;
	}
}

.gateway-table-paginator {
	position: absolute;
	margin-top: 15px;
	bottom: 15px;
	right: 15px;
}

.mat-column-select {
	width: 40px;
	max-width: 40px;
	margin: 0 0;
	padding: 0 0;
}

.mat-column-gateway_id {
	width: 300px;
	text-align: left;
}

.mat-column-name {
	width: 300px;
	text-align: left;
}

.mat-column-id_name_combo {
	width: 300px;
}

.mat-column-filler {
	flex: 1;
}

.mat-column-tenant {
	width: 300px;
	text-align: left;
}

.mat-column-enabled {
	width: 100px;
	text-align: center;
}

.element-row {
	cursor: pointer;
}

.element-row:hover {
	background: #f5f5f5;
}

.element-row-selected {
	background: #e5e5e5;
}

.element-row-selected:hover {
	background: #d5d5d5;
}

.mat-column-status {
	width: 100px;
	text-align: center;
}

th {
	text-align: center;
}

.gateway-table-bottom-bar {
	width: 850px;
	position: absolute;
	margin-top: 15px;
	bottom: 0px;
	right: 15px;
	display: flex;
	gap: 15px;
	flex-direction: row;
}

.gateway-table-auto-refresh-select {
	position: absolute;
	bottom: 2px;
	left: 15px;
}

.card-gateway-shadow {
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
	z-index: 1000;
	margin-bottom: 5px;
}